CompileFlags:
  Add: [-Wall, -std=c++17]
  Remove: [-W*, -std=*]

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [-xc++]
