build/
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
.vscode/
.idea/
# _deps/
build_*/
release_*/
install_*/
!release_notes/
.cache
*.gcno
*.gcda
